[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pyteseo"
authors = [{name = "German Aragon Caminero", email = "german.aragon@unican.es"}]
mantainers = [{name = "German Aragon Caminero", email = "german.aragon@unican.es"}]
readme = "README.md"
requires-python = "3.10"
classifiers = ["Topic :: Scientific/Engineering", "Programming Language :: Python"]
dynamic = ["version", "description"]

dependencies = [
    "numpy",
    "pandas",
    "xarray[complete]",
    "dask",
    "netcdf4",
    "bottleneck",
    "ipykernel",
    "matplotlib",
    "geojson",
]

[project.optional-dependencies]
test = ["pytest"]
doc = ["sphinx"]
dev = ["pytest", "sphinx", "black", "flit"]


[project.urls]
Home = "https://github.com/IHCantabria/pyteseo"
Documentation = "https://ihcantabria.github.io/pyteseo"


[tool.pytest.ini_options]
addopts = "-v --disable-warnings"
testpaths = [
    "tests",
]
